@import "../../app.scss";

#navDrawer {
  width:100%;
  z-index:100;
  min-height:100vh;
  overflow-y:scroll;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.img-charlie {
  width:100%;

}
.live-status {
  background-color: black;
  &.offline {
    color: #fff;
  }
  color: red;
  font-size: 8px;
}

.nav-masthead {
  .active {
    color: #fff;
    border-bottom-color: #fff;
  }

  div.nav-link {
    font-size:144px;
   }
  .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
  font-size:24px;
    display: inline-block;
    @include media-breakpoint-down(md) { 
      font-size: 58px; 
    }



    cursor:pointer;
    svg {
      height: 30px;
     
    }
    &:hover,
    &:focus {
      &.web_hover {
        svg {
          color:blue;
        }
        &:after {
          content: " Web";
          display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align:center;
    line-height: 78%;
        }
      }
      &.design_hover {
        svg {
          color:green;
        }
        &:after {
          content: " Design";
          display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align:center;
    line-height: 78%;
        }
      }
      &.music_hover {
        svg {
          color:yellow;
        }
        &:after {
          content: " Music";display: block;
          position: absolute;
          top: 0;
          left: 0;
          text-align:center;
          line-height: 78%;
        }
      }
      &.git_hover {
        svg {
          color:orange;
        }
        &:after {
          content: " Git Hub";display: block;
          position: absolute;
          top: 0;
          left: 0;
          text-align:center;
          line-height: 78%;
        
        }
      }
      &.youtube_hover {
        svg {
          color:red;
        }
        &:after {
          content: " YouTube";display: block;
          position: absolute;
          top: 0;
    left: 0;
    text-align:center;
    line-height: 78%;
        }
      }
      &.mail_hover {
        svg {
          color:pink;
        }
        &:after {
          content: " E-Mail";display: block;
          position: absolute;
          top: 0;
          left: 0;
          text-align:center;
          line-height: 78%;
        }
      }
    }
  }
}
