

/* You can add global styles to this file, and also import other style files */
@import "../src/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";



@mixin color-modifiers($attribute: 'color', $prefix: '-') {
    @each $name, $hex in $colors {
      &#{$prefix}#{$name} {
        #{$attribute}: $hex;
      }
    }
  }

  .text {
    @include color-modifiers($prefix: '--');
  }

  @mixin bg-color-modifiers($attribute: 'background-color', $prefix: '--') {
    @each $name, $hex in $colors {
      &#{$prefix}#{$name} {
        #{$attribute}: $hex;
      }
    }
  }
  .bg {
      @include bg-color-modifiers;
  }



body {
  font: 100% $font-primary;
  font-size: 1em;
}

a {
  box-shadow: none;
  color:$color-white;
  &:hover {
   color:$color-orange;
    text-decoration:none;
  }
}

body.drummer-mode {
  .showDeveloper {
    display:none !important;
    opacity:0;
    transition: opacity 1s ease;
  }
  .showDrummer {
    display:block !important;
    opacity:1;
    transition: opacity 1s ease;
  }
  .Web {
    display:none;
  }
  .Music {
    display:flex;
  }
}

body.developer-mode {
  .Web {
    display:flex;
  }
  .Music {
    display:none;
  }
  .showDeveloper {
    display:block !important;
    opacity:1;
    // transition: opacity 1s ease;
  }
  .showDrummer {
   display:none !important; 
   opacity:0;
  //  transition: opacity 1s ease;
  }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-narrow;
}
.header_lg {
    font-size: 101px;
    line-height: 95px;
    font-family: $font-narrow;
    @include media-breakpoint-down(md) { font-size: 70px; line-height: 55px; }
}
.header_md {
    font-size: 48px;
    line-height: 40px;
    font-family: $font-narrow;
    @include media-breakpoint-down(md) { font-size: 28px;line-height: 28px;  }
}

.header_sm {
    font-size:24px;
    font-family: $font-narrow;
    @include media-breakpoint-down(md) { font-size: 16px;}
}
#menu-select {
    font-size:48px;
    cursor:pointer;
}




