// Fonts
$font-primary:    'PT Sans', sans-serif;
$font-narrow: 'PT Sans Narrow', sans-serif;


// Colors
$colors: (
    white: #EBFAF2,
    grey: #A6A69F,
    orange: #FF6945,
    blue: #1A82A1,
    dark-blue: #163C54,
    black: #343434
);
$color-white: #EBFAF2;
$color-grey: #A6A69F;
$color-orange: #FF6945;
$color-blue: #1A82A1;
$color-dark-blue: #163C54;
$color-black: #343434;
